/* ==UserStyle==
@name         bilibili动态页优化
@version      20220628.3.40
@description  适配bilibili动态页，大量运用大圆角元素，背景采用php随机图片API
==/UserStyle== */

@-moz-document domain("t.bilibili.com") {
    /*动态页背景*/
    body{
        padding-top:10px;
        font-family:Helvetica;
        color:white;
        background-color:#0f0f0f;
        background:url(https://api.sunweihu.com/api/bing1/api.php) no-repeat;
        background-size:cover;    /*背景图片自动拉伸以铺满全屏*/
        background-position:top center;
        background-attachment: fixed;
    }
    #app .bg/*背景图像*/{
        background:url(#);
    }
    }
    
    @-moz-document domain("t.bilibili.com") {
    /*动态页顶栏*/
    .international-header/*解除顶栏背景最小宽度限制*/{
        min-width:500px;
    }
    .international-header .mini-type, .van-popover .mini-type/*顶栏*/{
        position:sticky;
        background:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
        border-radius:30px;
        min-width:460px;
        width:80%;
        max-width:460px;/*下部元素总宽度为1152px,有搜索栏时900px为宜,无搜索栏时460px为宜*/
        height:60px;
        margin:auto;
        margin-right:10px;
    }
    .mini-upload[data-v-7578e9ae]/*顶栏投稿按钮*/{
        border-radius:28px;
        height:40px;
        min-width:100px!important;
        margin-left:3px;
        line-height:40px;
    }
    .mini-header__content/*顶栏文本*/{
        padding:10px 10px;
        line-height:40px;
    }
    .bili-header-m .nav-search-box, .international-header .nav-search-box/*搜索栏整体定位*/{
        margin:auto 0;
    }
    .international-header .mini-type .mini-header--login .nav-user-center .user-con.search-icon, .van-popover .mini-type .mini-header--login .nav-user-center .user-con.search-icon/*去除搜索栏*/{
        display:none;
    }
    .international-header .mini-type .nav-search #nav_searchform, .van-popover .mini-type .nav-search #nav_searchform/*搜索栏输入框部分*/{
        display:none;
        border-radius:28px;
        height:40px;
    }
    .bili-header-m .nav-search .nav-search-keyword, .international-header .nav-search .nav-search-keyword/*搜索栏文字定位*/{
        font-size:15px;
        height:38px;
    }
    .bili-header-m .nav-search .nav-search-btn, .international-header .nav-search .nav-search-btn/*搜索栏按钮部分*/{
        border-radius:28px;
        height:40px;
    }
    .nav-user-center .user-con .item/*顶栏文字间距*/{
        margin-left:0;
        margin-right:12px
    }
    .mini-avatar[data-v-d7d33416]/*头像*/{
        height:40px;
        width:40px;
        margin-right:3px;
    }
    .nav-link/*垃圾*/{
        display:none;
    }
    .mini-type .nav-user-center .user-con .item .name /*顶栏字体颜色*/{
        color:white;
    }
    .van-popover/*头像二级菜单背景*/{
        border-radius:14px;
        background:rgba(51,51,51,1);
    }
    .van-popover.van-popper.van-popper-avatar/*头像二级菜单阴影*/{
        box-shadow:0px 20px 40px rgba(0,0,0,0.4)!important;
    }
    .van-popper-avatar .nickname[data-v-d7d33416]/*头像二级菜单用户名颜色，无非大会员账号无法测试*/{
        color:white;
    }
    .van-popper-avatar .level-info .grade[data-v-d7d33416]/*账号等级*/{
        color:rgba(255,255,255,0.8);
    }
    .van-popper-avatar .level-info .progress[data-v-d7d33416]/*账号等级经验*/{
        color:rgba(255,255,255,0.4)
    }
    .van-popper-avatar .level-content .level-intro[data-v-d7d33416] /*账号等级权限等相关说明动画1*/{
        visibility:hidden;
        opacity:0;
        border-radius:14px;
        background:rgba(51,51,51,1);
        color:rgba(255,255,255,0.8);
        margin-left:0px;
        box-shadow:0px 20px 0px rgba(0,0,0,0.4)!important;
    }
    .van-popper-avatar .level-content:hover .level-intro[data-v-d7d33416] /*账号等级权限等相关说明动画2*/{
        visibility:visible;
        opacity:1;
        border-radius:14px;
        background:rgba(51,51,51,1);
        color:rgba(255,255,255,0.8);
        margin-left:7px;
        box-shadow:0px 20px 40px rgba(0,0,0,0.4)!important;
    }
    .van-popper-avatar .coins[data-v-d7d33416]/*去除硬币及B币底部分割线*/{
        border:0;
    }
    .international-header a, .van-popover a/*硬币及B币字体颜色*/{
        color:white;
    }
    .van-popper-avatar .counts[data-v-d7d33416]/*去除关注、粉丝、动态计数器底部分割线*/{
        border:0;
    }
    .van-popper-avatar .count-item .item-key[data-v-d7d33416]/*关注、粉丝、动态字体颜色*/{
        color:rgba(255,255,255,0.6)
    }
    .van-popper-avatar .count-item .item-value[data-v-d7d33416]/*关注、粉丝、动态计数字体颜色*/{
        color:rgba(255,255,255,0.8)
    }
    .van-popper-avatar .links[data-v-d7d33416]/*去除我的课程下的分割线*/{
        border:0;
        padding:0
    }
    .international-header .mini-type .nav-user-center .bilifont/*个人中心-我的课程的图标颜色*/{
        color:rgba(255,255,255,0.4)
    }
    .van-popper-avatar .links .link-title[data-v-d7d33416]/*个人中心-我的课程的字体颜色*/{
        color:rgba(255,255,255,0.8);
    }
    .van-popper-avatar .links .link-item[data-v-d7d33416]/*个人中心-我的课程卡片调整*/{
        border-radius:0px;
        width:calc(100% - 0px);
        transition:all 0.2s;
    }
    .van-popper-avatar .links .link-item[data-v-d7d33416]:hover/*当光标在个人中心-我的课程卡片上时*/{
        color:rgba(255,255,255,0.8);
        border-radius:14px;
        background:rgba(255,255,255,0.05);
        margin-left:7px;
        width:calc(100% - 14px);
        box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }
    .van-popper-avatar .logout[data-v-d7d33416]/*登出部分调整*/{
        height:42px;
        width:calc(100% - 0px);
        padding:0;
        margin-bottom:7px;
        color:rgba(255,255,255,0.8);
        background-color:rgba(0,0,0,0);
        border-radius:14px;
        transition:all 0.2s;
    }
    .van-popper-avatar .logout[data-v-d7d33416]:hover/*当光标在登出上时1*/{
        width:calc(100% - 14px);
        transition:all 0.2s;
    }
    .van-popper-avatar .logout span[data-v-d7d33416]:hover/*当光标在登出上时2*/{
        color:rgba(255,255,255,0.8);
        background:rgba(255,255,255,0.05);
        border-radius:14px;
        box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }
    .van-popper .popper__arrow/*大会员二级菜单上的小三角*/{
        filter:brightness(0.2);
    }
    .vip-m .bubble-traditional .recommand .title/*大会员二级菜单标题字体*/{
        color:rgba(255,255,255,0.8)
    }
    .vip-m .bubble-traditional .recommand .bubble-col .item .recommand-link/*大会员二级菜单内容字体*/{
        color:rgba(255,255,255,0.8)
    }
    .vip-m .bubble-traditional .recommand .bubble-col .item img/*大会员二级菜单图片圆角适配*/{
        border-radius:14px;
    }
    .vip-m .bubble-traditional .renew-btn button/*大会员二级菜单按钮圆角适配*/{
        border-radius:14px;
    }
    .nav-user-center .t .num{/*消息小红点*/
        top:-2.5px;
    }
    .i-frame iframe[data-v-01c9e08c]/*消息二级菜单背景*/{
        background:rgba(51,51,51,1);
        border-radius:14px!important;
        box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }
    .i-frame[data-v-01c9e08c]::before/*消息二级菜单顶部小三角*/{
        background-color:rgba(51,51,51,1);
    }
    /*↑下接“动态页顶栏消息二级菜单”*/
    .i-frame[data-v-3f6279c7]::before{
        background-color:rgb(72, 72, 72);
    }
    .nav-user-center .nav-item-dynamic .i-frame/*动态二级菜单调整*/{
        padding:14px;
        height:calc(535px + 56px);
        width:382px;
    }
    .nav-user-center .nav-item-dynamic .i-frame iframe/*动态二级菜单调整*/{
        padding:0;
        height:calc(535px + 21px);
        border-radius:14px;
        box-shadow:0 10px 14px rgba(0,0,0,0.3);
    }
    /*↑下接“动态页顶栏动态二级菜单”*/
    .van-popper-favorite .tab-item--active[data-v-70d07937]/*收藏二级菜单被选中的收藏夹标题*/{
        border-radius:14px 0px 0px 14px;
        margin-right:0px;
        margin-left:12px;
        padding:7px;
        padding-left:14px;
        box-shadow:5px 5px 20px rgba(0,161,214,0.3)
    }
    .van-popper-favorite .tab-item--normal[data-v-70d07937]/*未被选中的收藏夹标题*/{
        color:rgba(255,255,255,0.8);
    }
    .van-popper-favorite .tab-item--normal[data-v-70d07937]:hover/*未被选中的收藏夹标题*/{
        color:rgba(255,255,255,0.8);
        background:rgba(255,255,255,0.1);
        margin:7px 0px 3.5px 7px;
        padding:7px;
        padding-left:14px;
        border-radius:14px 0px 0px 14px;
        box-shadow:0 10px 20px rgba(0,0,0,0.1);
    }
    .van-popper-favorite .tab-item .num[data-v-70d07937]/*被选中的收藏夹计数器*/{
        color:rgba(255,255,255,0.4)
    }
    .van-popper-favorite .tab-item--active .num[data-v-70d07937]/*未被选中的收藏夹计数器*/{
        color:rgba(255,255,255,0.9)
    }
    .header-video-card[data-v-589fc0a0]/*视频信息卡片*/{
        background-color:rgba(255,255,255,0);
        margin:7px;
        margin-top:0px;
        border-radius:0px;
        width:calc(100% - 0px);
        padding:7px 0px;
        box-shadow:0 0px 0px rgba(0,0,0,0.1)
    }
    .header-video-card[data-v-589fc0a0]:hover/*视频信息卡片*/{
        background-color:rgba(255,255,255,0.1);
        margin:7px;
        margin-top:0px;
        border-radius:14px;
        width:calc(100% - 14px);
        padding:7px;
        box-shadow:0 10px 20px rgba(0,0,0,0.1)
    }
    .video-card-img .default-img[data-v-c05424d6]/*收藏夹内视频封面*/{
        border-radius:14px;
    }
    .duration-tag[data-v-c05424d6]/*收藏夹内视频时长计数*/{
        border-radius:7px;
        line-height:11px;
        font-size:4px;
        padding:2px 3.5px;
        bottom:6.5px;
        right:6.5px;
        backdrop-filter:blur(10px);
        background:rgba(0,0,0,0.2)
    }
    .header-video-card .video-info[data-v-589fc0a0]/*视频信息卡片文字位置调整*/{
        margin-left:7px;
    }
    .header-video-card .video-info .line-2[data-v-589fc0a0]/*视频信息卡片视频标题*/{
        color:rgba(255,255,255,0.8)
    }
    .header-video-card .video-info .info[data-v-589fc0a0]/*视频信息卡片视频作者*/{
        color:rgba(255,255,255,0.4)
    }
    .van-popper-favorite .play-all[data-v-70d07937]/*查看全部、播放全部按钮*/{
        background-color:rgba(255,255,255,0);
        border:0;
        border-radius:7px;
        margin:7px;
        line-height:31px;
        box-shadow:0 0px 0px rgba(0,0,0,0.2)
    }
    .van-popper-favorite .play-all[data-v-70d07937]:hover/*查看全部、播放全部按钮*/{
        background-color:rgba(255,255,255,0.1);
        border:0;
        border-radius:7px;
        margin:7px;
        line-height:31px;
        box-shadow:0 10px 20px rgba(0,0,0,0.1)
    }
    .van-popper-favorite .play-all.view[data-v-70d07937]/*查看全部、播放全部按钮文字*/{
        color:rgba(255,255,255,0.8);
    }
    .van-popover/*去除历史二级菜单标题颜色*/{
        color:rgba(255,255,255,0.6)
    }
    .van-popper-history .tab-header[data-v-7077b904]/*去除历史二级菜单分割线*/{
        border:0;
        background:rgba(255,255,255,0.1);
        border-radius:14px;
    }
    .video-card-img .default-img[data-v-c05424d6]/*历史视频封面*/{
        height:58px;
    }
    .header-video-card .bar[data-v-589fc0a0]/*视频进度条*/{
        height:3px;
        border-radius:1.5px;
        background-color:rgba(255,255,255,0.2)
    }
    .header-video-card .progress[data-v-589fc0a0]/*视频已看进度*/{
        border-radius:1.5px;
        height:3px;
    }
    }
    
    @-moz-document domain("t.bilibili.com") {
    /*动态页左列*/
    .bili-dyn-my-info, .bili-dyn-my-info--skeleton/*左上个人卡片*/{
        border-radius:28px;
        background:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
        padding:10px;
        width:224px;/*原为244px*/
        height:168px;/*原为188px*/
    }
    .bili-awesome-img/*左上个人卡片上部图片样式*/{
        border-radius:18px 18px 5px 5px;
    }
    .bili-dyn-my-info__face/*左上角个人卡片头像样式*/{
        box-shadow:0px 5px 20px rgba(0,0,0,0.4);
    }
    .bili-dyn-my-info__name/*左上个人卡片个人昵称*/{
        color:rgba(255,255,255,0.8);
    }
    .bili-dyn-my-info__stat__item__count/*左上个人卡片(关注,粉丝,动态)数字*/{
        color:rgba(255,255,255,0.8);
    }
    .bili-dyn-my-info__stat__item__label/*左上个人卡片关注、粉丝、动态*/{
        color:rgba(255,255,255,0.6);
    }
    .bili-dyn-live-users/*直播列表卡片*/{
        border-radius:28px;
        background:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
        margin-top:10px;
        padding-bottom:0px;
    }
    .bili-dyn-live-users__title/*直播卡片标题字体*/{
        color:rgba(205,205,205,0.8);
    }
    .bili-dyn-live-users__title span/*直播卡片直播间计数字体*/{
        color:rgba(205,205,205,0.6)
    }
    .bili-dyn-live-users__item__face-container/*直播卡片UP主头像*/{
        box-shadow:0px 5px 15px rgba(0,0,0,0.3);
    }
    .bili-dyn-live-users__item__uname/*直播UP主昵称*/{
        color:rgba(255,255,255,0.6);
    }
    }
    
    @-moz-document domain("t.bilibili.com") {
    /*动态页中列,抽奖及投票尚未完全适配*/
    .home-page .home-container .home-content .center-panel .section-block[data-v-d112ac46]/*动态发布卡片背景1*/{
        border-radius:28px;
        background-color:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
    }
    .publish-panel[data-v-14f58192]/*动态发布卡片背景2*/{
        border-radius:28px;
        background-color:rgba(0,0,0,0.0);
    }
    .bili-topic-search__popover/*选择话题按钮*/{
        background-color:rgba(0, 162, 255, 0.2);
        border:0px;
    }
    .bili-topic-search__input__prefix/*选择话题按钮图标*/{
        color:rgb(0, 161, 214);
    }
    .bili-topic-search__input__text/*选择话题按钮字体*/{
        color:rgb(0, 161, 216);
    }
    .bili-topic-item__stela[data-v-6b38ff0f]/*更多话题按钮图标*/{
        background-color:rgba(0, 161, 216);
        border:0px;
    }
    .bili-topic-item__stela__name[data-v-6b38ff0f]/*更多话题按钮字体*/{
        color:blue;
    }
    .bili-topic-search__popover.active/*选择话题大卡片*/{
        border-radius:28px;
        background-color:rgba(51,51,51,1);
        width:360px;/*原360px*/
        border:14px solid rgba(51,51,51,1)
    }
    .bili-topic-search__popover.active .bili-topic-search__input/*选择话题大卡片搜索栏*/{
        background-color:rgba(0, 0, 0, 0.2);
        height:30px;
        width:304px;/*原328px*/
        margin:14px 14px 8px;
    }
    .bili-topic-search__popover.active .bili-topic-search__input__prefix/*选择话题大卡片搜索栏图标*/{
        color:rgba(0, 140, 255, 0.6);
    }
    .bili-topic-search__input__inner/*选择话题大卡片搜索栏输入框*/{
        background-color:#00000000;
    }
    .bili-topic-search__popover.active .bili-topic-search__input__inner/*选择话题大卡片搜索栏输入框输入字体*/{
        color:rgb(255, 255, 255);
    }
    .bili-topic-item__cloud[data-v-6b38ff0f]/*搜索推荐*/{
        border-radius:15px;
    }
    .bili-topic-item__cloud[data-v-6b38ff0f]:hover/*光标在搜索推荐上时*/{
        background-color:rgba(255,255,255,0.2)
    }
    .bili-topic-item__cloud__name[data-v-6b38ff0f]/*选择话题大卡片搜索推荐の强调字体*/{
        color:red;
    }
    .bili-topic-selector__bulletin/*已选择话题栏*/{
        background-color:rgba(51,51,51,1);
        border-radius:14px;
        padding:0px 10px;
        width:calc(100% - 20px);
    }
    .bili-topic-selector__bulletin__clear/*已选择话题栏删除键X*/{
        background-color:rgba(71,71,71,1)
    }
    .placeholder-shown[data-v-8f64a31e]::before/*动态文本编辑区预置文本*/{
        padding:0 0 0 14px;
        line-height:28px;
    }
    .core-style[data-v-8f64a31e]/*动态文本编辑区*/{
        width:clac(100% - 50px);
        min-height:28px;
        line-height:28px;
        padding:0px 14px;
        background-color:rgba(51,51,51,0.5);
        color:rgba(255,255,255,0.6);
        border-radius:14px;
    }
    .core-style[data-v-8f64a31e]:hover/*光标在动态文本编辑区上时*/{
        background-color:rgba(51,51,51,0.8);
    }
    .core-style[data-v-8f64a31e]:focus/*光标点击动态文本编辑区时*/{
        background-color:rgba(31,31,31,1);
    }
    .static-popup .bp-arrow[data-v-00b4b4ea],.static-popup.bp-arrow[data-v-268b12ee]:before/*弹出界面上的小箭头*/{
        filter:brightness(0.2);
    }
    .static-popup[data-v-00b4b4ea],.static-popup[data-v-268b12ee],.create-vote[data-v-4b97839a],.bili-popup-layer[data-v-1346152a]/*动态发布页弹出界面(表情,上传图片,发起投票,直播预约)背景*/{
        background-color:rgba(51,51,51,1);
        border:1px solid rgba(51,51,51,1);
        border-radius:14px;
    }
    .close-btn[data-v-00b4b4ea],.close-btn[data-v-268b12ee]/*动态发布页弹出界面关闭按钮*/{
        color:rgba(255,255,255,0.6);
    }
    
    .close-btn[data-v-00b4b4ea]:hover,.close-btn[data-v-268b12ee]:hover/*当光标在动态发布页弹出界面关闭按钮上时*/{
        color:rgba(255,255,255,1);
    }
    .title[data-v-00b4b4ea],.title[data-v-268b12ee],.upload-image .upload-btn[data-v-4b6587b2],.title[data-v-47d56164]/*动态发布页弹出界面标题及强调色*/{
        color:rgba(255,255,255,0.8);
    }
    .hint[data-v-2453fd06]/*动态发布页弹出界面非强调字体*/{
        color:rgba(255,255,255,0.6)
    }
    .emoji[data-v-60ae9c4d]/*emoji背景*/{
        background-color:rgba(51,51,51,1);
        border-radius:48px;
    }
    .emoji[data-v-60ae9c4d]:hover/*光标在emoji上时背景样式*/{
        background-color:rgba(33,33,33,1);
    }
    .pagination[data-v-97c4281e]/*表情系列选择栏背景颜色*/{
        background-color:rgba(41,41,41,1);
        border-radius:14px;
    }
    .emoji-cover.selected[data-v-97c4281e]/*已选择表情系列背景颜色*/{
        background-color:rgba(71,71,71,1);
        border-radius:14px
    }
    .emoji-cover[data-v-97c4281e]:hover/*光标在未选择表情系列上时，为本主题新增效果*/{
        background-color:rgba(56,56,56,1);
        border-radius:14px
    }
    .page-controller .next[data-v-97c4281e]:hover/*表情系列翻页栏下一页*/{
        background-color:rgba(56,56,56,1);
        border-radius:4px;
    }
    .page-controller .prev[data-v-97c4281e]:hover/*表情系列翻页栏上一页*/{
        background-color:rgba(56,56,56,1);
        border-radius:4px;
    }
    .upload-image .upload-btn[data-v-4b6587b2]/*动态发布上传图片页加号外框*/{
        border:2px dashed rgba(255,255,255,0.8);
        border-radius:14px;
    }
    .bili-at-popup/*已关注人列表*/{
        background-color:rgba(51,51,51,1);
        border:1px solid rgba(51,51,51,1);
        border-radius:14px;
        padding:0px 0px 14px 0px;
    }
    .bili-at-popup__hint/*"选择或输入你想@的人"字体样式*/{
        color:rgba(255,255,255,0.5)
    }
    .bili-at-popup__group-name/*"我的关注"字体样式*/{
        color:rgba(255,255,255,0.7)
    }
    .bili-at-popup__user--selected/*已选择人卡片背景样式*/{
        background-color:rgba(71,71,71,1);
    }
    .bili-at-popup__user-name/*列表内的人昵称*/{
        color:rgba(255,255,255,0.8)
    }
    .bp-input .content-box[data-v-793bb182]::before/*投票页填写标题文本框样式*/{
        border-radius:14px;
        border:1px solid rgba(255,255,255,0.5);
    }
    .bp-input .indicator[data-v-793bb182]/*标题字数计数器*/{
        background-color:#00000000;
        color:rgba(255,255,255,0.6);
    }
    .bp-vote-container button, .bp-vote-container form, .bp-vote-container input, .bp-vote-container li, .bp-vote-container ol, .bp-vote-container p, .bp-vote-container td, .bp-vote-container textarea, .bp-vote-container textarea:focus, .bp-vote-container ul, .bp-vote-container input:focus/*文本框输入文字样式*/{
        color:rgba(255,255,255,0.8);
    }
    .bp-input .input[data-v-793bb182]/*文本框文字背景*/{
        background-color:#00000000;
    }
    .bp-radio[data-v-55c64c29]/*投票类型选项*/{
        color:rgba(255,255,255,0.7);
    }
    .bp-vote-container input:focus, .bp-vote-container input, .bp-vote-container textarea, .bp-vote-container textarea:focus, .bp-vote-container select, .bp-vote-container button/*更多设置多选表单文字及背景样式*/{
        color:rgba(255,255,255,0.8);
        background-color:rgba(71,71,71,1);
    }
    .bp-selector[data-v-6aaa05f4]::before /*更多设置多选表单边框样式*/{
        border-radius:14px;
        background-color:rgba(71,71,71,1);
        border:0px;
    }
    .button-bar[data-v-4b97839a]::before/*去除底部按钮上部的水平线*/{
        border:0
    }
    .button-bar[data-v-4b97839a]/*底部按钮栏配色*/{
        border-radius:14px;
        background-color:rgba(0,0,0,0.15);
    }
    .bp-button[data-v-b26b5ce0],.bili-popup-layer__button[data-v-1346152a]/*底部按钮文字样式*/{
        color:rgba(255,255,255,0.8);
    }
    .bp-button[data-v-b26b5ce0]::before,.bili-popup-layer__button[data-v-1346152a]::before/*底部按钮样式*/{
        border-radius:14px;
        background-color:rgba(255,255,255,0.1);
        border:0px;
    }
    .bili-input__inner[data-v-5e65f7e3]/*预约标题文本框背景*/{
        background-color:#00000000;
    }
    .bili-border[data-v-5e65f7e3]::before/*预约标题文本框边框样式*/{
        border-radius:14px;
    }
    .bili-input__inner[data-v-5e65f7e3]/*预约标题文本框输入文本样式*/{
        color:rgba(255,255,255,0.8);
    }
    .bili-input__count[data-v-5e65f7e3]/*预约标题字数计数器文本样式*/{
        color:rgba(255,255,255,0.6)
    }
    .bili-input__count/*预约标题字数计数器位置修复*/{
        bottom:0px;
    }
    .date-input[data-v-3c2cbaaf]/*去除选择日期父元素颜色*/{
        background:#00000000;
        color:black;
    }
    .dynamic-reserve[data-v-1533c9fb] .date-picker .date-input::before,.dynamic-reserve[data-v-1533c9fb] .date-picker .scroll-input .s-input-wrap::before/*日期,小时,分钟选择表单背景样式*/{
        border:0;
    }
    .dynamic-reserve[data-v-1533c9fb] .date-picker .date-input input,.dynamic-reserve[data-v-1533c9fb] .date-picker .scroll-input input/*选择日期,小时,分钟表单样式*/{
        background:rgba(71,71,71,1);
        color:rgba(255,255,255,0.8);
    }
    .date-panel[data-v-3c2cbaaf], .date-panel[data-v-3c2cbaaf]:hover,.s-panel[data-v-b2849f14]/*选择日期,小时,分钟弹出界面背景样式*/{
        background-color:rgba(51,51,51,1);
        border:1px solid rgba(51,51,51,1);
        border-radius:14px;
        box-shadow:10px 10px 50px rgba(0,0,0,0.4);
    }
    .ym[data-v-3c2cbaaf]/*选择日期弹出界面头部年月选择栏*/{
        border-bottom:0;
        color:rgba(255,255,255,0.7);
        background:rgba(255,255,255,0);
        border-radius:14px
    }
    .week[data-v-3c2cbaaf]/*选择日期弹出界面星期栏*/{
        color:rgba(255,255,255,0.8);
        background:rgba(255,255,255,0.1);
        border-radius:7px;
    }
    .day.disabled[data-v-3c2cbaaf]/*选择日期弹出界面不可选日期字体样式*/{
        color:rgba(255,255,255,0.3);
    }
    .day[data-v-3c2cbaaf]/*选择日期弹出界面可选日期字体样式*/{
        color:rgba(255,255,255,0.8);
    }
    .indicator[data-v-d0fcfa2c]::after/*字数与“允许评论”间的分隔符*/{
        color:#99a2aa;
    }
    .publish-btn[data-v-d0fcfa2c]/*发布动态按钮*/{
        border-radius:14px;
    }
    .most-viewed-panel[data-v-7d62e686]/*最常浏览up主卡片背景*/{
        border-radius:28px;
        background:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
    }
    .most-viewed-panel .list-content .most-viewed-item .name[data-v-7d62e686]/*最常浏览up主卡片字体颜色*/{
        color:rgba(255,255,255,0.8);
    }
    .most-viewed-panel .list-content .most-viewed-item .section .avatar[data-v-7d62e686]/*最常浏览up主卡片头像样式*/{
        border:0;
        width:40px;
        height:40px;
        box-shadow:0px 10px 20px rgba(0,0,0,0.3);
    }
    .tab-bar[data-v-58304b2a]/*动态视频分类*/{
        border-radius:28px;
        background:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
    }
    .new-notice-bar[data-v-fcbb045e]/*有新动态卡片背景*/{
        background:rgba(252,249,215,0.5);
        backdrop-filter:blur(50px);
        border-radius:28px;
    }
    .new-notice-bar .message[data-v-fcbb045e]/*有新动态卡片文字样式*/{
        text-shadow:0px 0px 20px rgba(151,120,42,1);
    }
    .live-panel .title .count[data-v-621fee91], .tc-slate, .live-panel-item .live-detail .live-name[data-v-5059eddc]/*视频卡片字体1*/{
        color:rgba(255,255,255,0.8)
    }
    .card[data-v-5ae963b0]/*视频卡片背景*/{
        border-radius:28px;
        background:rgba(0,0,0,0.5);
        backdrop-filter:blur(40px);
    }
    .card .main-content .user-name a[data-v-5ae963b0]/*up昵称*/{
        color:rgba(255,255,255,1)
    }
    .card .main-content[data-v-76c52272]/*动态卡片信息区*/{
        width:520px;
    }
    .video-container[data-v-6b411d24]/*视频卡片信息区*/{
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
    }
    .dyn-topic__card/*视频卡片信息区话题背景*/{
        background:rgba(255,255,255,0);
        padding:1.5px 3px;
        border-radius:28px;
        margin-bottom:7px;
        transition:all 0.2s;
        border-radius:7px;
    }
    .dyn-topic__card:hover/*视频卡片信息区话题背景*/{
        background:rgba(255,255,255,0.1);
    }
    .dyn-topic__card:hover/*当光标在话题上时*/{
        background-color:rgba(255,255,255,0.15);
        box-shadow:0 0 20px rgba(0,0,0,0.15)
    }
    .dyn-topic__icon/*视频卡片信息区话题图标*/{
        filter:brightness(125%);
    }
    .dyn-topic__text/*视频卡片信息区话题字体*/{
        color:rgb(0, 179, 255)
    }
    .video-container .image-area img[data-v-6b411d24]/*视频封面*/{
        border-radius:14px
    }
    .userinfo-wrapper[data-v-6c7ff250]{/*视频信息卡片up头像二级菜单背景1*/
        border-radius:14px;
        top:22px!important;
        left:80px!important;
    }
    .userinfo-content[data-v-c6080324]{/*视频信息卡片up头像二级菜单背景2*/
        background:rgb(31,31,31);
    }
    .userinfo-content .bg[data-v-c6080324]{
        display:none;
    }
    .userinfo-content .info .user .name[data-v-c6080324]{/*视频信息卡片up头像二级菜单关注数及粉丝数 up昵称*/
        color:rgba(255,255,255,0.8);
    }
    .userinfo-content .info .social a[data-v-c6080324]{/*视频信息卡片up头像二级菜单关注数及粉丝数*/
        color:rgba(255,255,255,0.8);
    }
    .userinfo-content .info .social .label[data-v-c6080324]{/*视频信息卡片up头像二级菜单 关注、粉丝及获赞 文字*/
        color:rgba(255,255,255,0.5);
    }
    .userinfo-content .info p[data-v-c6080324]{/*视频信息卡片up头像二级菜单 获赞数*/
        color:rgba(255,255,255,0.8);
    }
    .userinfo-content .info .sign[data-v-c6080324]{/*视频信息卡片up头像二级菜单 up简介*/
        color:rgba(255,255,255,0.7)
    }
    .userinfo-content .face[data-v-c6080324]{/*视频信息卡片up头像二级菜单 头像位置调整*/
        top:16px;
        left:16px;
    }
    .userinfo-content .info[data-v-c6080324]{/*视频信息卡片up头像二级菜单 文字部分调整*/
        padding:16px 20px 16px 80px;
    }
    .userinfo-content .info .vip-label[data-v-c6080324]{/*视频信息卡片up头像二级菜单 大会员标志*/
        border-radius:7px;
        max-width:65px;
        padding:0px 3.5px 0px 3.5px;
        line-height:18px;
    }
    .userinfo-content .btn-box >a.liked[data-v-c6080324]{/*视频信息卡片up头像二级菜单 “已关注”按钮调整*/
        background-color:rgba(255,255,255,0.2);
        color:rgba(255,255,255,0.3);
        border:0;
    }
    .userinfo-content .btn-box >a[data-v-c6080324]{/*视频信息卡片up头像二级菜单 “发消息”按钮调整*/
        background-color:rgba(255,255,255,0.4);
        color:rgba(255,255,255,0.8);
        border-radius:7px;
        border:0;
    }
    .userinfo-content .btn-box[data-v-c6080324]{/*视频信息卡片up头像二级菜单 底部留白调整*/
        padding:0 0 16px 80px;
    }
    .video-container .types[data-v-6b411d24]/*投稿视频小胶囊*/{
        border-radius:14px;
        background:rgba(251,114,153,0.7);
        backdrop-filter:blur(3px);
        padding:0px 9px;
    }
    .video-container .text-area .title[data-v-6b411d24]/*视频标题*/{
        color:rgba(255,255,255,0.8)
    }
    .video-container .text-area .content[data-v-6b411d24]/*视频简介*/{
        color:rgba(255,255,255,0.45)
    }
    .video-container .text-area .view-danmaku[data-v-6b411d24]/*播放量及弹幕数图标字体颜色*/{
        color:rgba(255,255,255,0.5)
    }
    .card-content .repost[data-v-5584c656], .card-content .not-support[data-v-5584c656], .card-content .deleted[data-v-5584c656]/*转发信息卡片*/{
        margin-top:0px;
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
        padding:7px;
        width:520px;
    }
    .shop-panel .panel-desc[data-v-af82b85a]{/*“相关作品”文字调整*/
        color:rgba(255,255,255,0.7);
        margin-left:7px;
    }
    .description[data-v-5584c656]{/*动态文字调整*/
        margin-bottom:5px;
    }
    .original-poster .username[data-v-5584c656]{/*转发视频标题位置调整*/
        margin:0 0 3.5px 7px;
    }
    .imagesbox .zoom-wrap .zoom-list.zoom-1[data-v-690d023e]{/*信息卡片中图片位置调整1*/
        margin:0;
    }
    .imagesbox .zoom-wrap .zoom-list .card[data-v-690d023e]{/*信息卡片中图片位置调整2*/
        margin-bottom:3.5px;
        margin-left:3.5px;
    }
    .up-info .up-info-tip[data-v-5584c656]/*XXX的投稿视频中的"的投稿视频"*/{
        color:rgba(255,255,255,0.5)
    }
    .live-container[data-v-23b19018]/*直播推送信息卡片*/{
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
    }
    .live-container .image-area img[data-v-23b19018]/*直播信息卡片*/{
        border-radius:14px;
    }
    .live-container .status[data-v-23b19018]/*"直播中"小胶囊*/{
        border-radius:14px;
        background:rgba(251,114,153,0.7);
        backdrop-filter:blur(3px);
        padding:0px 9px;
    }
    .bangumi-container[data-v-4131c4fc]/*剧集信息卡片*/{
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
    }
    .bangumi-container .image-area img[data-v-4131c4fc]/*剧集封面*/{
        border-radius:14px
    }
    .bangumi-container .text-area .title[data-v-4131c4fc]/*剧集标题*/{
        color:rgba(255,255,255,0.8)
    }
    .bangumi-container .text-area .content[data-v-4131c4fc]/*剧集副标题*/{
        color:rgba(255,255,255,0.45)
    }
    .bangumi-container .text-area .view-danmaku[data-v-4131c4fc]/*剧集播放量及弹幕数图标*/{
        color:rgba(255,255,255,0.4)
    }
    .article-container[data-v-740aaa35]/*图文信息卡片*/{
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
    }
    .article-container:hover .text-area[data-v-740aaa35] /*去除光标在标题上时出现的白色阴影*/{
        box-shadow:0px 0px 0px black;
    }
    .article-container .images-area[data-v-740aaa35]/*图文封面圆角*/{
        border-radius:14px;
    }
    .article-container .text-area .title[data-v-740aaa35]/*图文标题*/{
        color:rgba(255,255,255,0.8)
    }
    .article-container .text-area .content[data-v-740aaa35]/*图文副标题*/{
        color:rgba(255,255,255,0.45)
    }
    .card-content .repost .deleted-icon[data-v-5584c656], .card-content .not-support .deleted-icon[data-v-5584c656], .card-content .deleted .deleted-icon[data-v-5584c656]{/*图文资源已失效 图标*/
        padding:0 0 0 7px;
        line-height:28px;
    }
    .card-content .repost .deleted-text[data-v-5584c656], .card-content .not-support .deleted-text[data-v-5584c656], .card-content .deleted .deleted-text[data-v-5584c656]{/*图文资源已失效 文字*/
        margin:0 0 0 7px;
        line-height:28px;
    }
    .video-container[data-v-3bada5c8]/*直播回放信息卡片*/{
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
    }
    .video-container .types[data-v-3bada5c8]/*直播回放小胶囊*/{
        border-radius:14px;
        background:rgba(251,114,153,0.7);
        backdrop-filter:blur(3px);
        padding:0px 9px;
    }
    .video-container .image-area img[data-v-3bada5c8]/*直播回放封面圆角*/{
        border-radius:14px;
    }
    .video-container .text-area .title[data-v-3bada5c8]/*直播回放标题*/{
        color:rgba(255,255,255,0.8)
    }
    .video-container .text-area .content[data-v-3bada5c8]/*直播回放副标题*/{
        color:rgba(255,255,255,0.45)
    }
    .video-container .text-area .view-danmaku[data-v-3bada5c8]/*直播回放播放量及弹幕数图标*/{
        color:rgba(255,255,255,0.4)
    }
    .like-users-panel[data-v-9f189eb0]::before/*XXX赞了前分隔符*/{
        background-color:rgba(255,255,255,0.2)
    }
    .users-box .like-users-list[data-v-9f189eb0], .users-box .like-users-list[data-v-9f189eb0]:active, .users-box .like-users-list[data-v-9f189eb0]:link, .users-box .like-users-list[data-v-9f189eb0]:visited/*点了赞的XXX的字体*/{
        color:rgba(255,255,255,0.6)
    }
    .like-users-panel[data-v-9f189eb0]/*XXX赞了中"赞了"的字体*/{
        color:rgba(255,255,255,0.6)
    }
    .h5share-container[data-v-2261f36a]/*分享信息卡片形状*/{
        border-radius:14px;
        border:0;
    }
    .bg-white/*分享信息卡片背景*/{
        background-color:rgba(255,255,255,0.1);
    }
    .h5share-container .image-area .share-img[data-v-2261f36a]/*分享信息卡片图片*/{
        border-radius:14px;
    }
    .img-content[data-v-690d023e]/*动态图片*/{
        border-radius:14px;
    }
    .shop-panel .shop-list[data-v-af82b85a]/*预约信息卡片背景*/{
        background-color:rgba(255,255,255,0.1);
        border-radius:14px;
    }
    .shop-desc .desc-box .title[data-v-55f6b61e]/*预约信息卡片标题*/{
        color:rgba(255,255,255,0.8);
    }
    .shop-desc .desc-box .sub-title.reserve[data-v-55f6b61e]/*预约信息卡片副标题*/{
        color:rgba(255,255,255,0.4);
    }
    .shop-desc .btn-box .jump-btn[data-v-55f6b61e]/*预约信息卡片预约按钮*/{
        border-radius:7px;
        background-color:rgba(0,161,214,0.85);;
    }
    .shop-panel .shop-list.is-repost[data-v-af82b85a]/*直播预约提醒*/{
        background-color:rgba(255,255,255,0.1);
    }
    .up-info .up-focus-btn[data-v-5584c656]/*直播转发卡片关注按钮*/{
        border:0;
        background:rgba(0,161,214,0.35);
        border-radius:7px;
        color:rgba(255,255,255,0.85);
    }
    .shop-panel.top-margin[data-v-af82b85a]/*直播预约信息卡片调整*/{
        width:100%;
    }
    .shop-desc .btn-box .jump-btn[data-v-55f6b61e]/*直播预约信息卡片预约按钮*/{
        background-color:rgba(0, 161, 214, .35);
        border-radius:7px;
    }
    .shop-desc .btn-box .jump-btn[data-v-55f6b61e]/*直播预约信息卡片预约按钮文字*/{
        color:rgba(255,255,255,0.85);
    }
    .shop-desc .btn-box .jump-btn .btn-icon[data-v-55f6b61e]/*直播预约信息卡片预约按钮图标*/{
        filter:opacity(85%);
    }
    .bb-comment, .comment-bilibili-fold/*评论区背景*/{
        border-radius:14px;
        background:rgba(255,255,255,0.1);
        border:0;
        padding:14px;
        margin-bottom:21px;
    }
    .bb-comment .comment-header, .comment-bilibili-fold .comment-header/*排序方式下水平线*/{
        border:0;
    }
    .bb-comment .comment-header .tabs-order li, .comment-bilibili-fold .comment-header .tabs-order li/*评论区排序方式*/{
        color:rgba(255,255,255,0.8);
        border:0;
        background:rgba(255,255,255,0.1);
        padding:3.5px 14px;
        border-radius:7px;
        margin-left:10px
    }
    .bb-comment .comment-header .tabs-order li.on, .comment-bilibili-fold .comment-header .tabs-order li.on/*已选择排序方式阴影*/{
        border-bottom:0px;
        box-shadow:0 5px 15px rgba(0,161,214,0.1);
    }
    .bb-comment .comment-header .tabs-order li.on:after, .comment-bilibili-fold .comment-header .tabs-order li.on:after/*去除排序方式底部小箭头*/{
        height:0;
    }
    .textarea-container>::placeholder/*评论巨大文本框placeholder样式*/{
        color:rgba(255,255,255,0.8)
    }
    .bb-comment .comment-send .textarea-container .ipt-txt/*评论巨大文本框样式*/{
        border:0;
        border-radius:7px;
        background-color:rgba(255,255,255,0.1);
        transition:0.2s;
        color:rgba(255,255,255,0.8);
        padding:7px;
        margin-bottom:10px;
    }
    .bb-comment .comment-send .textarea-container.focus textarea /*光标在评论巨大文本框上时*/{
        background-color:rgba(255,255,255,0.3);
    }
    .bb-comment .comment-send .textarea-container:hover .ipt-txt/*光标点击评论巨大文本框后*/{
        background-color:rgba(255,255,255,0.3);
    }
    .bb-comment .comment-send .user-face .bili-avatar/*评论区自己头像位置及样式*/{
        margin-top:8px;
        box-shadow:0 0 25px black;
    }
    .bb-comment .comment-send .comment-submit/*发布评论按钮样式*/{
        background-color:rgba(0,161,214,0.8);
        border-radius:7px;
        border:0;
    }
    .bb-comment .comment-send .comment-emoji/*评论区表情键*/{
        background-color:rgba(255,255,255,0.1);
        border:0;
        box-shadow:0 0 0;
        padding:1.5px;
        border-radius:7px;
    }
    .bb-comment .comment-send .comment-emoji .face/*评论区表情键笑脸图标*/{
        filter:brightness(12) opacity(0.6)
    }
    .bb-comment .comment-send .comment-emoji .text/*评论区表情键文字样式*/{
        color:rgba(255,255,255,0.6)
    }
    .bb-comment .comment-send .dynamic-repost/*评论区"同时转发到我的动态"字体样式*/{
        color:rgba(255,255,255,0.7)
    }
    .bb-comment .comment-send .dynamic-repost .dynamic-repost-checkbox/*评论区"同时转发到我的动态"前表单位置修复*/{
        margin-top:3px;
        -webkit-appearance:checkbox;
    }
    .bb-comment .comment-list .list-item .user .name/*评论区用户名字体*/{
        color:rgba(255,255,255,1)
    }
    .bb-comment .comment-list .list-item .text/*评论区评论字体*/{
        color:rgba(255,255,255,0.8)
    }
    .bb-comment .comment-list .list-item .reply-box .reply-item .reply-con .user .name/*评论区评论的评论的用户名字体*/{
        color:rgba(255,255,255,0.9)
    }
    .bb-comment .comment-list .list-item .user .text-con, .comment-bilibili-fold .comment-list .list-item .user .text-con/*评论区评论的评论的评论*/{
        color:rgba(255,255,255,0.7)
    }
    .bb-comment .comment-list .list-item .info .btn-hover/*评论的评论下的赞及更多样式*/{
        background:#00000000;
        padding:0px 7px;
        border-radius:7px;
        line-height:20px;
    }
    .bb-comment .comment-list .list-item .info .btn-hover:hover/*当光标在评论的评论下的赞及更多上时样式*/{
        background:rgba(255,255,255,0.1);
        padding:0px 7px;
        border-radius:7px;
        line-height:20px;
    }
    .bb-comment .operation, .comment-bilibili-fold .operation/*评论的评论下的更多按钮位置*/{
        margin-top:0px;
    }
    .bb-comment .comment-list .list-item .con, .comment-bilibili-fold .comment-list .list-item .con/*去除评论下划线*/{
        border:0;
    }
    .bb-comment .operation .opera-list/*评论的评论下的更多按钮弹出界面*/{
        background:rgb(40, 40, 40);
        color:rgba(255,255,255,0.6);
        border-radius:14px;
    }
    .bb-comment .comment-list .list-item .reply-box .view-more, .comment-bilibili-fold .comment-list .list-item .reply-box .view-more/*评论区“共XX条回复”字体样式*/{
        color:rgba(255,255,255,0.45)
    }
    
    .bb-comment .comment-list .list-item .info .reply-tags span, .comment-bilibili-fold .comment-list .list-item .info .reply-tags span/*评论区“up主觉得很赞”字体样式*/{
        background-color:rgba(255,255,255,0.2)!important;
        color:rgba(255,255,255,0.6)!important;
        border-radius:7px;
    }
    .forw-area[data-v-54292558]/*转发弹出界面背景*/{
        background-color:rgba(255,255,255,0.1);
        border-radius:14px;
        margin-left:64px;
        margin-bottom:21px;
    }
    .forw-area .forw-main[data-v-54292558]/*转发弹出界面文本框定位1*/{
        padding-left:14px;
    }
    .forw-area .forw-main .forw-send[data-v-54292558]/*转发弹出界面文本框定位2*/{
        padding-top:14px;
    }
    .textarea-container textarea[data-v-5e63bf8d]/*转发弹出界面文本框样式*/{
        width:445px!important;
        border-radius:7px;
        border:0;
        background-color:rgba(255,255,255,0.15);
        color:rgba(255,255,255,0.8);
    }
    .textarea-container>::placeholder/*转发文本框placeholder样式*/{
        color:rgba(255,255,255,0.8)!important;
    }
    .textarea-container .comm-tool .comm-emoji[data-v-5e63bf8d]/*转发弹出界面表情按钮样式*/{
        background-color:rgba(255,255,255,0.45);
        border:0;
        color:rgba(255,255,255,0.8);
        border-radius:7px;
        font-family:Helvetica;
        font-size:13px
    }
    .dynamic-comm-icon/*转发弹出界面表情按钮笑脸样式*/{
        filter:brightness(150%) grayscale(100%)
    }
    .textarea-container .comm-tool .comm-submit[data-v-5e63bf8d]/*转发弹出界面转发按钮样式*/{
        border-radius:7px;
        color:rgba(255,255,255,0.8);
    }
    .textarea-container .comm-tool .comm-word[data-v-5e63bf8d]/*转发弹出界面字数计数器字体样式*/{
        color:rgba(255,255,255,0.8);
    }
    .forw-area .forw-more[data-v-54292558]/*不显示“没有更多啦”*/{
        border-top:0;
        height:28px;
        line-height:14px
    }
    .dynamic-list-item-wrap[data-v-6ecb7732]/*转发信息卡片*/{
        border:0;
        background-color:rgba(255,255,255,0.2);
        border-radius:14px;;
        padding:14px;
        margin-right:14px;
        margin-bottom:14px;
    }
    .dynamic-list-item-wrap .item-user a.user-name/*转发人昵称字体颜色*/{
        color:rgba(255,255,255,0.6);
    }
    .dynamic-list-item-wrap .item-detail .text[data-v-6ecb7732]/*转发内容文字颜色*/{
        color:rgba(255,255,255,0.8)
    }
    .dynamic-list-item-wrap .item-detail .text/*“转发”文字定位*/{
        width:466px;
    }
    .card[data-v-76c52272]/*查看更多详情页去除卡片描边*/{
        border:0!important;
    }
    .dynamic-link-hover-bg:hover/*当光标在互动抽奖上时*/{
        background-color:rgba(255,255,255,0.2);
        text-shadow:0 0 5px rgba(0,0,0,0.6);
    }
    .shop-panel .shop-list[data-v-af82b85a]{/*up的好物/视频推荐 背景*/
        padding:7px;
    }
    .shop-item.ugc[data-v-6be15733]{/*up的好物/视频推荐 封面*/
        border-radius:7px;
    }
    .vote-container[data-v-9b0fce88]{/*投票信息区*/
        background:rgba(255,255,255,0.1);
        border:0;
        border-radius:14px;
        transition:all 0.3s;
    }
    .vote-container:hover{/*当光标在投票信息区上时*/
        background:rgba(255,255,255,0.1);
        border:0;
        border-radius:14px;
        transition:all 0.3s;
        box-shadow:0 5px 15px rgba(0,0,0,0.2);
    }
    .vote-container:hover .text-area[data-v-9b0fce88]{/*投票信息区 取消官方hover效果*/
        box-shadow:0 0 0 black;
    }
    .vote-container .image-area .share-img[data-v-9b0fce88]{/*投票信息区 投票图标*/
        border-radius:7px 3px 3px 7px;
    }
    .vote-btn-box .vote-btn[data-v-9b0fce88]{/*投票信息区 投票按钮*/
        background-color:rgba(0, 192, 255, .5);
        border-radius:7px;
    }
    }
    
    @-moz-document domain("t.bilibili.com") {
    /*动态页右列*/
    .notice-panel[data-v-5458153c]/*公告栏卡片背景*/{
        border-radius:28px;
        background-color:rgba(0, 0, 0, 0.5);
        backdrop-filter:blur(100px);
        padding:7px 0px;
        padding-bottom:0px;
    }
    .tc-black/*公告栏卡片标题*/{
        color:rgba(0, 174, 255, 0.8);
    }
    .notice-panel .img-container .notice-img[data-v-5458153c]/*公告栏卡片图片样式*/{
        border-radius:14px;
    }
    .topic-panel/*话题卡片背景*/{
        border-radius:28px;
        background-color:rgba(0,0,0,0.5);
        backdrop-filter:blur(100px);
        padding:14px 14px;
        padding-bottom:3.5px;
    }
    .topic-panel__nav-title/*卡片标题*/{
        color:rgba(255,255,255,0.8)
    }
    .relevant-topic__title/*话题标题*/{
        color:rgba(255,255,255,0.4)
    }
    .relevant-topic__exposed/*话题副标题*/{
        color:rgba(255,255,255,0.4)
    }
    }
    
    @-moz-document domain("message.bilibili.com") {
    /*动态页顶栏消息二级菜单*/
    /*上接“动态页顶栏”170行*/
    .im-list-box{
        background:rgba(51,51,51,1);
        width:100%;
    }
    .im-root/*消息二级菜单字体*/{
        color:rgba(255,255,255,0.8);
    }
    .im-list/*消息二级菜单项目*/{
        width:calc(100% - 11.62791vw);
        transition:all 0.2s;
    }
    .im-list:hover/*当光标在消息二级菜单项目上时*/{
        margin-left:7px;
        width:calc(100% - 11.62791vw - 14px);
        color:rgba(255,255,255,0.8)!important;
        background:rgba(255,255,255,0.05)!important;
        border-radius:14px;
        box-shadow:0 10px 25px rgba(0,0,0,0.2);
    }
    
    }
    
    @-moz-document url-prefix("https://t.bilibili.com/pages/nav/index_new") {
    /*动态顶栏动态二级菜单*/
    /*上接“动态页顶栏”178行*/
    html, body{
        background:rgba(51,51,51,0)!important;
        height:100%;
    }
    #app[data-v-9f78c900]/*菜单大小调整*/{
        padding-top:0;
        margin:0;
        width:100%;
        height:calc(535px + 21px);
    }
    .out-container[data-v-9f78c900]/*菜单背景调整*/{
        border-radius:14px;
        background-color:rgba(51,51,51,1);
        box-shadow:0 10px 14px rgba(0,0,0,0.3);
    }
    .tab-bar[data-v-c0793b8a]/*视频动态、直播、专栏背景*/{
        border-bottom:0;
        background-color:rgba(255,255,255,0.1);
        border-radius:14px;
        color:rgba(255,255,255,0.8);
        margin-bottom:7px;
        box-shadow:0 0px 15px rgba(0,0,0,0.1);
        padding-left:14px;
    }
    .tip-box[data-v-213951fc]/*“暂时没有新动态了哦”文字颜色*/{
        color:rgba(255,255,255,0.4)
    }
    .split-line[data-v-213951fc]::before/*去除分割线*/{
        display:none;
    }
    .split-line[data-v-213951fc]/*历史动态文字位置*/{
        justify-content:left;
        margin-bottom:7px;
        margin-left:14px;
        color:rgba(255,255,255,0.6);
    }
    .split-line .history-tip[data-v-213951fc]/*历史动态样式*/{
        background:rgba(255,255,255,0.3);
        border-radius:14px;
        padding:1.5px 10px;
        line-height:17px;
        color:rgba(255,255,255,0.6);
        box-shadow:0 5px 15px rgba(0,0,0,0.15)
    }
    .list-item[data-v-3e08f764]/*历史动态卡片样式*/{
        background:rgba(255,255,255,0);
        border-radius:14px;
        margin-bottom:7px;
        width:calc(337px - 21px);
        padding:10.5px;
        box-shadow:0 0px 0px rgba(0,0,0,0.3);
        transition:all 0.2s;
    }
    .list-item[data-v-3e08f764]:hover/*当光标在历史动态卡片上时*/{
        background:rgba(255,255,255,0.1);
        border-radius:14px;
        margin-bottom:7px;
        margin-left:7px;
        width:calc(337px - 21px - 14px);
        padding:10.5px;
        box-shadow:0 5px 20px rgba(0,0,0,0.3);
    }
    .name-line[data-v-3e08f764]/*up昵称*/{
        color:rgba(255,255,255,0.8);
    }
    .content[data-v-3e08f764]/*动态详细文字*/{
        color:rgba(255,255,255,0.3)
    }
    .cover[data-v-0dc56910]/*动态视频封面*/{
        height:100%;
        width:100%;
        border-radius:7px
    }
    .container[data-v-9f78c900]/*内容长度调整*/{
        max-height:calc(563px - 45.47px - 28px);
    }
    }
    
    @-moz-document domain("t.bilibili.com") {
    /*抽奖二级菜单*/
    .backdrop .extension-wrapper[data-v-21fef14f]/*背景*/{
        border-radius:14px;
        z-index:10086;
    }
    .title-text/*标题字体*/{
        color:rgba(255,255,255,0.8);
    }
    .backdrop .title-box[data-v-21fef14f]/*标题栏*/{
        background-color:rgba(71,71,71,1);
        box-shadow:0 0 20px rgba(0,0,0,0.2);
        border:0;
    }
    .backdrop iframe[data-v-21fef14f]/*去边缘毛刺*/{
        background-color:rgb(51,51,51);
    }
    #bp-app/*外框*/{
        background-color:rgba(51,51,51,1) !important;
    }
    .result.is-web[data-v-9728ec12]/*主体背景1*/{
        background-color:rgba(51,51,51,1);
        margin-left:14px;
    }
    .row[data-v-31501526]/*主体背景2*/{
        background-color:rgba(51,51,51,1);
    }
    .title[data-v-9728ec12]/*标题*/{
        color:rgba(255,255,255,0.8);
    }
    .clock-time[data-v-9728ec12]::after/*计时器背景1*/{
        border-radius:14px;
        box-shadow:0 0 20px rgba(0,0,0,0.05);
    }
    .clock-time::after/*计时器背景2*/{
        border:0;
        background:rgba(255,255,255,0.05);
    }
    .clock-text[data-v-9728ec12]/*计时器文字*/{
        color:rgba(255,255,255,0.6);
    }
    .config-row[data-v-9728ec12]/*计时器下相关说明*/{
        color:rgba(255,255,255,0.3);
    }
    .row[data-v-31501526]::after/*计时器下分割线*/{
        border:0;
    }
    .prize-box[data-v-2df93ba1]/*奖品背景*/{
        background-color:rgba(0,0,0,0.15);
        border-radius:14px;
        width:calc(100% - 28px);
    }
    .title[data-v-2df93ba1]/*"奖品"*/{
        color:rgba(255,255,255,0.8)
    }
    .prize-item .prize-img[data-v-2df93ba1]/*奖品图标*/{
        border:0;
        background-color:rgb(0, 192, 255,0.05);
        border-top:1px solid rgba(0,161,214,0.1);
        border-right:1px solid rgba(0,161,214,0.1);
        border-radius:14px;
        box-shadow:-5px 5px 20px rgba(15, 45, 54, .5)
    }
    .prize-item .prize-level[data-v-2df93ba1]/*"X等奖"*/{
        color:rgba(255,255,255,0.8);
    }
    .prize-item .prize-desc[data-v-2df93ba1]/*奖品详情*/{
        color:rgba(255,255,255,0.3)
    }
    }
    
    @-moz-document url-prefix("http://example.com") {
    /*投票二级菜单*/
    .vote-title[data-v-cab5ccf4]{/*投票二级菜单 标题字体色*/
        color:rgba(255,255,255,0.8)
    }
    .vote-number[data-v-cab5ccf4]{/*投票二级菜单 投票结果背景色*/
        border:0;
        background:rgba(255,255,255,0.1)
    }
    .vote-user-name[data-v-cab5ccf4]{/*投票二级菜单 发起人字体色*/
        color:rgba(255,255,255,0.6)
    }
    .vote-user-text[data-v-cab5ccf4], .vote-left-time[data-v-cab5ccf4]{/*投票二级菜单 发起、剩余时间字体色*/
        color:rgba(255,255,255,0.4)
    }
    .desc-title[data-v-9122deaa]{/*投票二级菜单 投票选项字体色*/
        color:rgba(255,255,255,0.7);
        font-weight:normal;
    }
    .choice-count-text[data-v-9122deaa]{/*投票二级菜单 最多选X项字体色*/
        color:rgba(255,255,255,0.4)
    }
    .option-li[data-v-9122deaa]{
        border:0;
        background:rgba(255,255,255,0.05);
        border-radius:14px;
        box-shadow:0 5px 10px rgba(0,0,0,0.05);
    }
    .desc[data-v-9122deaa]{/*投票二级菜单 投票选项字体色*/
        color:rgba(255,255,255,0.6)
    }
    .checkbox[data-v-90f2bace]{/*投票二级菜单 checkbox色*/
        border:0;
        background-color:rgba(255,255,255,0.3)
    }
    .vote-result-comment{/*投票二级菜单 评论区背景色*/
        background-color:rgb(31,31,31);
        border-radius:14px;
    }
    
    }

